* text=auto !eol
/Makefile -text
/apertium-tt-ky.tt-ky.dix -text
/apertium-tt-ky.tt-ky.t1x -text
/apertium-tt-ky.tt-ky.t2x -text
/apertium-tt-ky.tt-ky.t3x -text
/input -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
